

<!-- datatables plugin -->
<div class="wrapper wrapper-white">

    <h1>{{title}}</h1>


    <div class="table-responsive" style="margin-top:20px">





        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">

            <!-- DateTime -->
            <div class="row well" style="padding-bottom: 0px; margin: 0px;">

                <div class="row" style="margin-top: 20px; margin-left: 20px;">
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker10').datetimepicker({
                                viewMode: 'years',
                                format: 'MM/YYYY'
                            });
                        });
                    </script>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Seleccion de Mes</label>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <div class='input-group date' id='datetimepicker10'>
                                        <input type='text' class="form-control"/>
                                        <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button class="btn btn-default" data-target="#modal" data-toggle="modal"> Agregar Ingreso </button>
                    </div>
                </div>

            </div>
            <!-- ./DateTime -->


            <!--tables-->
            <div class="row" style="margin-top:60px">





                <!-- incomes table -->
                <div class="col-md-7" style="margin-right:10px;margin-left:10px">



                    <h1 style="margin-top:30px">Tabla de Ingresos</h1>

                    <div class="tabs">
                        <ul class="nav nav-tabs" id="myTabs" role="tablist">
                            <li class="active"><a data-target="#tab-first" data-toggle="tab">Facturas Cobradas</a></li>
                            <li class=""><a data-target="#tab-second" data-toggle="tab">Facturas no Cobradas</a></li>
                        </ul>
                        <div class="panel-body tab-content" id="my-tab-content">
                            <div class="tab-pane active" id="tab-first">




                                <table class="table table-bordered table-striped table-sortable dataTable no-footer"
                                       style="margin-top: 0px;">
                                    <thead>
                                    <tr role="row">
                                        <th width="20px">

                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            aria-label="Name: activate to sort column ascending" style="width: 231.011px;"
                                            ng-if="true">Folio Fiscal
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 20%" aria-sort="ascending">RFC
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 183.011px;">Nombre
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 89.0114px;">Fecha
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 188.011px;">Total
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            ng-if="false">Servicios
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr role="row" class="odd" ng-repeat="bill in bills | filter : search | limitTo:15"
                                        ng-if="$index > 0" load-finished>
                                        <td width="20px">
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" id="check_{{$index}}" >
                                                <label for="check_{{$index}}"></label>
                                            </div>
                                        </td>
                                        <td ng-if="true">{{bill.fiscalId}}</td>
                                        <td>{{bill.receiverRFC}}</td>
                                        <td>{{bill.receiverName}}</td>
                                        <td>{{bill.emitedDate}}</td>
                                        <td>{{bill.total}}</td>
                                        <td ng-if="false">
                                            <button class="btn btn-success" ng-click="downloadPDF()">Descargar PDF</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <!-- pagination -->
                                <div class="col-md-6">
                                    <ul class="pagination">
                                        <li class="disabled">
                                            <a href="#">«</a>
                                        </li>
                                        <li class="active">
                                            <a href="#">1</a>
                                        </li>
                                        <li>
                                            <a href="#">2</a>
                                        </li>
                                        <li>
                                            <a href="#">3</a>
                                        </li>
                                        <li>
                                            <a href="#">4</a>
                                        </li>
                                        <li>
                                            <a href="#">5</a>
                                        </li>
                                        <li>
                                            <a href="#">»</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- ./pagination -->


                            </div>
                            <div class="tab-pane" id="tab-second">
                                <table class="table table-bordered table-striped table-sortable dataTable no-footer"
                                       style="margin-top: 0px;">
                                    <thead>
                                    <tr role="row">
                                        <th width="20px">

                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            aria-label="Name: activate to sort column ascending" style="width: 231.011px;"
                                            ng-if="true">Folio Fiscal
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 20%" aria-sort="ascending">RFC
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 183.011px;">Nombre
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 89.0114px;">Fecha
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 188.011px;">Total
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            ng-if="false">Servicios
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr role="row" class="odd" ng-repeat="bill in bills | filter : search | limitTo:15"
                                        ng-if="$index > 5" load-finished>
                                        <td width="20px">
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" id="check_{{$index}}" >
                                                <label for="check_{{$index}}"></label>
                                            </div>
                                        </td>
                                        <td ng-if="true">{{bill.fiscalId}}</td>
                                        <td>{{bill.receiverRFC}}</td>
                                        <td>{{bill.receiverName}}</td>
                                        <td>{{bill.emitedDate}}</td>
                                        <td>{{bill.total}}</td>
                                        <td ng-if="false">
                                            <button class="btn btn-success" ng-click="downloadPDF()">Descargar PDF</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <!-- pagination -->
                                <div class="col-md-6">
                                    <ul class="pagination">
                                        <li class="disabled">
                                            <a href="#">«</a>
                                        </li>
                                        <li class="active">
                                            <a href="#">1</a>
                                        </li>
                                        <li>
                                            <a href="#">2</a>
                                        </li>
                                        <li>
                                            <a href="#">3</a>
                                        </li>
                                        <li>
                                            <a href="#">4</a>
                                        </li>
                                        <li>
                                            <a href="#">5</a>
                                        </li>
                                        <li>
                                            <a href="#">»</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>







                </div>
                <!-- ./incomes table -->


                <!-- total table -->
                <div class="col-md-4">
                    <h1 style="margin-top:30px">Tabla de Totales</h1>
                    <table class="table table-bordered table-striped table-sortable dataTable no-footer">
                        <thead>
                            <tr role="row">
                                <th>Nombre</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr role="row" class="odd" ng-repeat="(key, value) in bills | groupBy: 'receiverName'" ng-if="$index > 0">
                                <td>{{ key }}</td>
                                <td>{{ getTotal(value) | currency}}</td>
                            </tr>
                            <tr>
                                <td>TOTAL</td>
                                <td>{{grandTotal | currency}}</td>
                            </tr>
                        </tbody>
                    </table>



                </div>
                <!-- ./total table -->


            </div>
            <!--./tables-->

        </div>

    </div>


</div>
<!-- ./datatables plugin -->





<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog" style="margin-top: 120px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar Ingreso Adicional</h4>
            </div>
            <div class="modal-body">
                <p>Con el fin de agregar un ingreso adicional es necesario que se llenen los siguientes campos</p>

                <div class="form-group">
                    <label>NOMBRE</label>
                    <input type="text" class="form-control" placeholder="Escribe el nombre del ingreso">
                </div>

                <div class="form-group">
                    <label>CANTIDAD</label>
                    <input type="text" class="form-control" placeholder="Escribe la cantidad">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Agreagar Ingreso</button>
            </div>
        </div>
    </div>
</div>