<!-- datatables plugin -->
<div class="wrapper wrapper-white">

    <h1>{{title}}</h1>


    <div class="table-responsive" style="margin-top:20px">


        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">

            <!-- DateTime -->
            <div class="row well" style="padding-bottom: 0px; margin: 0px;">

                <div class="row" style="margin-top: 20px; margin-left: 20px;">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Selecciona <span>Año</span></label>
                            <select class="form-control" ng-model="yearIndex">
                                <option value='' disabled>SELECCION DE AñO</option>
                                <option value="2019" selected>2019</option>
                                <option value="2018">2018</option>
                            </select>
                            <span class="help-block">Seleccion de año</span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Selecciona <span>Mes</span></label>
                            <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="monthIndex">
                                <option value='' disabled>SELECCION DE BIMESTRE</option>
                                <option ng-repeat="month in months" value="{{month.value}}">{{month.name}}</option>
                            </select>
                            <span class="help-block">Seleccion de bimestre</span>
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="form-group" style="padding-top: 30px;">
                            <button class="btn btn-primary" ng-click="filterBillsByDate()"> Filtrar </button>
                            <span class="help-block">Haz click para filtrar</span>
                        </div>
                    </div>


                </div>

            </div>
            <!-- ./DateTime -->


            <!--tables-->
            <div class="row">


                <!-- bills table -->
                <div class="col-md-12">
                    <h1 style="margin-top:30px;margin-left: 10px">Tabla de Ingresos</h1>
                    <div class="tabs">
                        <ul class="nav nav-tabs" id="myTabs" role="tablist">
                            <li class="active"><a data-target="#tab-first" data-toggle="tab">Facturas Cobradas</a></li>
                            <li class=""><a data-target="#tab-second" data-toggle="tab">Facturas no Cobradas</a></li>
                            <li class=""><a data-target="#tab-third" data-toggle="tab">Totales</a></li>
                        </ul>
                        <div class="panel-body tab-content" id="my-tab-content">
                            <div class="tab-pane active" id="tab-first">


                                <table class="table table-bordered table-striped table-sortable dataTable no-footer"
                                       style="margin-top: 0px;">
                                    <thead>
                                    <tr role="row">
                                        <th width="20px">

                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                            colspan="1"
                                            aria-label="Name: activate to sort column ascending"
                                            style="width: 231.011px;"
                                            ng-if="true">Folio Fiscal
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0"
                                            rowspan="1" colspan="1"
                                            style="width: 20%" aria-sort="ascending">RFC
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                            colspan="1"
                                            style="width: 183.011px;">Nombre
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                            colspan="1"
                                            style="width: 89.0114px;">Fecha
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                            colspan="1"
                                            style="width: 188.011px;">Total
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                            colspan="1"
                                            ng-if="false">Servicios
                                        </th>
                                    </tr>
                                    </thead>
                                    <tr role="row" class="odd" ng-repeat="bill in billsData.emitted.bills" id="{{bill.fiscalId}} load-finished ">
                                        <td width="20px">
                                            <div class="checkbox checkbox-inline" id="check_{{bill.fiscalId}}">
                                                <input type="checkbox" id="check_{{$index}}"
                                                       ng-click="noPaid(bill, $event)">
                                                <label for="check_{{$index}}"></label>
                                            </div>
                                        </td>
                                        <td ng-if="true">{{bill.fiscalId}}</td>
                                        <td>{{bill.receiverRFC}}</td>
                                        <td>{{bill.receiverName}}</td>
                                        <td>{{bill.emitedDate}}</td>
                                        <td>{{bill.total}}</td>
                                        <td ng-if="false">
                                            <button class="btn btn-success" ng-click="downloadPDF()">Descargar PDF
                                            </button>
                                        </td>
                                    </tr>
                                    <tbody>
                                        <!--<tr role="row" class="odd" ng-repeat="bill in bills | filter : selectDate | limitTo:15"-->
                                    </tbody>
                                </table>

                                <!-- pagination -->
                                <div class="col-md-6">
                                    <ul class="pagination">
                                        <li class="disabled">
                                            <a href="#">«</a>
                                        </li>
                                        <li class="active">
                                            <a href="#">1</a>
                                        </li>
                                        <li>
                                            <a href="#">2</a>
                                        </li>
                                        <li>
                                            <a href="#">3</a>
                                        </li>
                                        <li>
                                            <a href="#">4</a>
                                        </li>
                                        <li>
                                            <a href="#">5</a>
                                        </li>
                                        <li>
                                            <a href="#">»</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- ./pagination -->


                            </div>
                            <div class="tab-pane" id="tab-second">
                                <table class="table table-bordered table-striped table-sortable dataTable no-footer"
                                       style="margin-top: 0px;">
                                    <thead>
                                    <tr role="row">
                                        <th width="20px">

                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                            colspan="1"
                                            aria-label="Name: activate to sort column ascending"
                                            style="width: 231.011px;"
                                            ng-if="true">Folio Fiscal
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0"
                                            rowspan="1" colspan="1"
                                            style="width: 20%" aria-sort="ascending">RFC
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                            colspan="1"
                                            style="width: 183.011px;">Nombre
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                            colspan="1"
                                            style="width: 89.0114px;">Fecha
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                            colspan="1"
                                            style="width: 188.011px;">Total
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1"
                                            colspan="1"
                                            ng-if="false">Servicios
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr role="row" class="odd" ng-repeat="bill in paidBills" load-finished>
                                        <td width="20px">
                                            <div class="checkbox checkbox-inline">
                                                <input type="checkbox" id="check_no_{{$index}}" ng-click="toPaid(bill)"
                                                       data-target="#paidBill" data-toggle="modal">
                                                <label for="check_no_{{$index}}"></label>
                                            </div>
                                        </td>
                                        <td ng-if="true">{{bill.fiscalId}}</td>
                                        <td>{{bill.receiverRFC}}</td>
                                        <td>{{bill.receiverName}}</td>
                                        <td>{{bill.emitedDate}}</td>
                                        <td>{{bill.total}}</td>
                                        <td ng-if="false">
                                            <button class="btn btn-success" ng-click="downloadPDF()">Descargar PDF
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <!-- pagination -->
                                <div class="col-md-6">
                                    <ul class="pagination">
                                        <li class="disabled">
                                            <a href="#">«</a>
                                        </li>
                                        <li class="active">
                                            <a href="#">1</a>
                                        </li>
                                        <li>
                                            <a href="#">2</a>
                                        </li>
                                        <li>
                                            <a href="#">3</a>
                                        </li>
                                        <li>
                                            <a href="#">4</a>
                                        </li>
                                        <li>
                                            <a href="#">5</a>
                                        </li>
                                        <li>
                                            <a href="#">»</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab-third">
                                <table class="table table-bordered table-striped table-sortable dataTable no-footer">
                                    <thead>
                                    <tr role="row">
                                        <th>Nombre</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr role="row" class="odd" ng-repeat="(key, value) in bills | groupBy: 'receiverName'"
                                        ng-if="$index > 0">
                                        <td>{{ key }}</td>
                                        <td>{{ getTotal(value) | currency}}</td>
                                    </tr>
                                    <tr>
                                        <td>TOTAL</td>
                                        <td>{{grandTotal | currency}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <!--./tables-->

        </div>

    </div>


</div>
<!-- ./datatables plugin -->


<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog" style="margin-top: 120px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Agregar Ingreso Adicional</h4>
            </div>
            <div class="modal-body">
                <p>Con el fin de agregar un ingreso adicional es necesario que se llenen los siguientes campos</p>

                <div class="form-group">
                    <label>NOMBRE</label>
                    <input type="text" class="form-control" placeholder="Escribe el nombre del ingreso">
                </div>

                <div class="form-group">
                    <label>CANTIDAD</label>
                    <input type="text" class="form-control" placeholder="Escribe la cantidad">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Agreagar Ingreso</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="paidBill" tabindex="-1" role="dialog" aria-labelledby="paidBill" aria-hidden="true"
     style="display: none;">
    <div class="modal-dialog" style="margin-top: 120px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4 class="modal-title">Registrar Factura Pendiente</h4>
            </div>
            <div class="modal-body">
                <p>Con el fin de agregar una factura pendiente, por favor llena los siguientes campos</p>

                <div class="form-group">
                    <label>Forma de pago</label>
                    <input type="text" class="form-control" placeholder="Ingresa cual fue la forma de pago">
                </div>

                <div class="form-group">
                    <label>Lugar de pago</label>
                    <input type="text" class="form-control" placeholder="Escribe el lugar de pago">
                </div>

                <div class="form-group">
                    <label>Cantidad</label>
                    <input type="text" class="form-control" placeholder="Ingresa la cantidad de pago">
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" ng-click="registerBill()" data-dismiss="modal">Registrar
                    Factura
                </button>
            </div>
        </div>
    </div>
</div>