

<h1>{{menuElements[0].section}}</h1>

<div class="row row-sm mg-t-50">
    <div class="col-xl-12">
        <div class="card pd-20 pd-sm-40">

            <div id="pushups">

            </div>

            <div
                line-chart
                line-data='data'
                line-xkey='y'
                line-ykeys='["a", "b"]'
                line-labels='["Serie A", "Serie B"]'
                line-colors='["#31C0BE", "#c7254e"]'
                line-width='40'
                >

            </div>

        </div><!-- card -->
    </div><!-- col-6 -->
</div>
