

<h1>{{menuElements[0].section}}</h1>

<div class="row row-sm mg-t-50">
    <div class="col-xl-12">
        <div class="card pd-20 pd-sm-40">

            <h1 align="center"><font face="Arial">Angular Morris Chart</font></h1>
            <h3 align="center"><font face="Arial">dateFormat and postUnits</font></h3>
            <div
                    line-chart
                    line-post-units="'%'"
                    line-data='data'
                    line-xkey='y'
                    line-ykeys='["a", "b"]'
                    line-labels='["Serie A", "Serie B"]'
                    line-colors='["#31C0BE", "#c7254e"]'
                    line-x-label-format="xLabelFormat"
                    line-date-format="dateFormat">
            </div>

        </div><!-- card -->
    </div><!-- col-6 -->
</div>

