<div class="wrapper wrapper-white">

    <h1>{{title}}</h1>
    <div class="table-responsive" style="margin-top:20px">

        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">


            <!-- DateTime -->
            <div class="row well" style="padding-bottom: 0px; margin: 0px;">

                <div class="row" style="margin-top: 20px; margin-left: 20px;">
                    <script type="text/javascript">
                        $(function () {
                            $('#datetimepicker').datetimepicker({
                                viewMode: 'years',
                                format: 'MM/YYYY'
                            });
                        });
                    </script>




                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Selecciona <span>Año</span></label>
                            <select class="form-control" ng-model="year">
                                <option value="2019">2019</option>
                                <option value="2018">2018</option>
                            </select>
                            <span class="help-block">Seleccion de año</span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Selecciona <span>Mes</span></label>
                            <select class="form-control" ng-model="month">
                                <option value="01">ENERO</option>
                                <option value="02">FEBRERO</option>
                                <option value="03">MARZO</option>
                                <option value="04">ABRIL</option>
                                <option value="05">MAYO</option>
                                <option value="06" selected>JUNIO</option>
                            </select>
                            <span class="help-block">Seleccion de mes</span>
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="form-group" style="padding-top: 30px;">
                            <button class="btn btn-primary" ng-click="filterBillsByDate(year, month)"> Filtrar </button>
                            <span class="help-block">Haz click para filtrar</span>
                        </div>
                    </div>


                </div>

            </div>
            <!-- ./DateTime -->

            <div style="margin-top:40px;"></div>

            <!-- earnings/outgoings -->
            <div class="col-md-12">
                    <div class="wrapper padding-bottom-0 padding-top-0">
                        <div class="dev-table">

                            <!-- Earnings -->
                            <div class="col-md-3">

                                <div class="dev-widget dev-widget-success">
                                    <h2>Tus Ingresos Enero</h2>


                                    <div class="dev-stat">$<span class="counter">{{incomesByMonth}}</span></div>
                                    <div class="progress progress-bar-xs" ng-if="false">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                                             aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                                    </div>
                                    <div class="progress progress-bar-xs">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                    <p>El total de tus ingresos deacuerdo al mes de {{month}}</p>
                                    <a href="/#!/income" class="dev-drop">Ir a tus ingresos<span class="fa fa-angle-right pull-right"></span></a>

                                </div>

                            </div>
                            <!-- /.Earnings-->

                            <!-- outgoings-->
                            <div class="col-md-3">

                                <div class="dev-widget dev-widget-transparent dev-widget-danger">
                                    <h2>Tus Gastos</h2>
                                    <div class="dev-stat">$<span class="counter">{{outcomesByMonth}}</span></div>
                                    <div class="progress progress-bar-xs" ng-if="false">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100"
                                             aria-valuemin="0" aria-valuemax="100" style="width: 79%;"></div>
                                    </div>
                                    <div class="progress progress-bar-xs">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                    <p>Tus gastos realizados en el mes de {{month}}</p>
                                    <a href="/#!/outgoings" class="dev-drop">Ir a tus Gastos<span class="fa fa-angle-right pull-right"></span></a>
                                </div>

                            </div>
                            <!-- ./outgoings-->

                            <!-- difference-->
                            <div class="col-md-3">

                                <div class="dev-widget dev-widget-transparent dev-widget-success">
                                    <h2>Diferencia</h2>
                                    <div class="dev-stat">$<span class="counter">{{incomesByMonth - outcomesByMonth}}</span></div>
                                    <div class="progress progress-bar-xs" ng-if="false">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                                             aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                    </div>
                                    <div class="progress progress-bar-xs">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                    <p>El resultado de tus ingresos menos los gastos en {{month}}</p>


                                </div>

                            </div>
                            <!-- ./difference-->

                            <!-- taxes-->
                            <div class="col-md-3" ng-hide="true">

                                <div class="dev-widget dev-widget-transparent dev-widget-danger">
                                    <h2>Impuestos Por Pagar</h2>
                                    <div class="dev-stat">$<span class="counter">45</span></div>
                                    <div class="progress progress-bar-xs" ng-if="false">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100"
                                             aria-valuemin="0" aria-valuemax="100" style="width: 79%;"></div>
                                    </div>
                                    <div class="progress progress-bar-xs">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                    <p>Lo que debes pagar en impuestos deacuerdo a tus datos</p>

                                </div>

                            </div>
                            <!-- ./taxes-->

                        </div>
                    </div>
                </div>
            <!-- ./earnings/outgoings -->

            <!-- earnings/outgoings -->
            <div class="col-md-12">
                <div class="wrapper padding-bottom-0 padding-top-0">
                    <div class="dev-table">

                        <!-- Earnings -->
                        <div class="col-md-3">

                            <div class="dev-widget dev-widget-success">
                                <h2>Tus Ingresos Febrero</h2>

                                <div class="dev-stat">$<span class="counter">1,300</span></div>
                                <div class="progress progress-bar-xs" ng-if="false">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                                </div>
                                <div class="progress progress-bar-xs">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                                <p>El total de tus ingresos deacuerdo al mes de Febreso</p>
                                <a href="/#!/income" class="dev-drop">Ir a tus ingresos<span class="fa fa-angle-right pull-right"></span></a>

                            </div>

                        </div>
                        <!-- /.Earnings-->

                        <!-- outgoings-->
                        <div class="col-md-3">

                            <div class="dev-widget dev-widget-transparent dev-widget-danger">
                                <h2>Tus Gastos</h2>
                                <div class="dev-stat">$<span class="counter">850</span></div>
                                <div class="progress progress-bar-xs" ng-if="false">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 79%;"></div>
                                </div>
                                <div class="progress progress-bar-xs">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                                <p>Tus gastos realizados en el mes de Febrero</p>
                                <a href="/#!/outgoings" class="dev-drop">Ir a tus ingresos<span class="fa fa-angle-right pull-right"></span></a>
                            </div>

                        </div>
                        <!-- ./outgoings-->

                        <!-- difference-->
                        <div class="col-md-3">

                            <div class="dev-widget dev-widget-transparent dev-widget-success">
                                <h2>Diferencia</h2>
                                <div class="dev-stat">$<span class="counter">450</span></div>
                                <div class="progress progress-bar-xs" ng-if="false">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                </div>
                                <div class="progress progress-bar-xs">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                                <p>El resultado de tus ingresos menos los gastos en Febrero</p>


                            </div>

                        </div>
                        <!-- ./difference-->

                        <!-- taxes-->
                        <div class="col-md-3">

                            <div class="dev-widget dev-widget-transparent dev-widget-danger">
                                <h2>Impuestos por pagar al bimestre</h2>
                                <div class="dev-stat">$<span class="counter">250</span></div>
                                <div class="progress progress-bar-xs" ng-if="false">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 79%;"></div>
                                </div>
                                <div class="progress progress-bar-xs">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                                <p>Lo que debes pagar en impuestos deacuerdo a tus datos</p>

                            </div>

                        </div>
                        <!-- ./taxes-->

                    </div>
                </div>
            </div>
            <!-- ./earnings/outgoings -->





            <!-- charts -->
            <canvas id="line-chart" width="800" height="300"></canvas>
            <!-- ./charts -->


            <!-- table -->
            <div class="wrapper">
                <div class="col-md-12">

                    <h1 style="margin-top:30px">Totales</h1>
                    <table class="table table-bordered table-striped table-sortable dataTable no-footer">
                        <thead>
                        <tr role="row">
                            <th>Mes</th>
                            <th>Ingresos</th>
                            <th>Gastos</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Enero</td>
                            <td>$1,000.00</td>
                            <td>$600.00</td>
                        </tr>
                        <tr>
                            <td>Febrero</td>
                            <td>$2,000.00</td>
                            <td>$800.00</td>
                        </tr>
                        <tr>
                            <td>Marzo</td>
                            <td>$13,000.00</td>
                            <td>$6700.00</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- ./table -->


            <script>
            //https://www.sitepoint.com/introduction-chart-js-2-0-six-examples/
            //http://tobiasahlin.com/blog/chartjs-charts-to-get-you-started/#2-line-chart
            new Chart(document.getElementById("line-chart"), {
              type: 'line',
              data: {
                labels: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                datasets: [{
                    data: [1000, 1200, 1110, 1150, 1200, 1250, 950, 1100, 1150, 1000, 1500, 1100],
                    label: "Ingresos",
                    borderColor: "#82b440",
                    fill: false
                  }, {
                    data: [600, 800, 1200, 1000, 635, 809, 947, 1402, 1500, 500, 500, 210],
                    label: "Gastos",
                    borderColor: "#e74e40",
                    fill: false
                  }
                ]
              },
              options: {
                title: {
                  display: false,
                  text: 'Tabla de Ingresos y Gastos'
                }
              }
            });
            </script>

        </div>

    </div>

</div>