<div class="wrapper wrapper-white" id="test" style="height: 2100px;">

    <h1>{{title}}</h1>
    <div class="table-responsive" style="margin-top:20px">

        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">


            <!-- DateTime -->
            <div class="row well" style="padding-bottom: 0px; margin: 0px;">

                <div class="row" style="margin-top: 20px; margin-left: 20px;">

                    <div class="col-md-4" ng-show="isRifUser()">
                        <div class="form-group">
                            <label>Selecciona <span>Mes</span></label>
                            <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="monthIndex" ng-change="filterBillsByDate()">
                                <option value='' disabled>SELECCION DE BIMESTRE</option>
                                <option ng-repeat="month in monthsBimester" value="{{month.value}}">{{month.name}}</option>
                            </select>
                            <span class="help-block">Seleccion de bimestre</span>
                        </div>
                    </div>

                    <div class="col-md-4" ng-show="!isRifUser()">
                        <div class="form-group">
                            <label>Selecciona <span>Mes</span></label>
                            <select class="form-control"ng-model="monthIndex" ng-change="filterBillsByDate()">
                                <option value='' disabled>SELECCION DE MES</option>
                                <option ng-repeat="month in months" value="{{month.value}}">{{month.name}}</option>
                            </select>
                            <span class="help-block">Seleccion de bimestre</span>
                        </div>
                    </div>

                </div>

            </div>
            <!-- ./DateTime -->

            <div style="margin-top:40px;"></div>

            <!-- earnings/outgoings -->
            <div class="col-md-12">
                    <div class="wrapper padding-bottom-0 padding-top-0">
                        <div class="dev-table">

                            <!-- Earnings -->
                            <div class="col-md-3">

                                <div class="dev-widget dev-widget-success">
                                    <h2>Tus Ingresos Enero</h2>


                                    <div class="dev-stat">$<span class="counter">{{incomesByMonth01 | number : 2}}</span></div>
                                    <div class="progress progress-bar-xs" ng-if="false">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                                             aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                                    </div>
                                    <div class="progress progress-bar-xs">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                    <p>El total de tus ingresos deacuerdo al mes de {{month}}</p>
                                    <a href="/#!/income" class="dev-drop">Ir a tus ingresos<span class="fa fa-angle-right pull-right"></span></a>

                                </div>

                            </div>
                            <!-- /.Earnings-->

                            <!-- outgoings-->
                            <div class="col-md-3">

                                <div class="dev-widget dev-widget-transparent dev-widget-danger">
                                    <h2>Tus Gastos</h2>
                                    <div class="dev-stat">$<span class="counter">{{outcomesByMonth01 | number : 2}}</span></div>
                                    <div class="progress progress-bar-xs" ng-if="false">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100"
                                             aria-valuemin="0" aria-valuemax="100" style="width: 79%;"></div>
                                    </div>
                                    <div class="progress progress-bar-xs">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                    <p>Tus gastos realizados en el mes de {{month}}</p>
                                    <a href="/#!/outgoings" class="dev-drop">Ir a tus Gastos<span class="fa fa-angle-right pull-right"></span></a>
                                </div>

                            </div>
                            <!-- ./outgoings-->

                            <!-- difference-->
                            <div class="col-md-3">

                                <div class="dev-widget dev-widget-transparent dev-widget-success">
                                    <h2>Diferencia</h2>
                                    <div class="dev-stat">$<span class="counter">{{incomesByMonth01 - outcomesByMonth01 | number : 2}}</span></div>
                                    <div class="progress progress-bar-xs" ng-if="false">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                                             aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                    </div>
                                    <div class="progress progress-bar-xs">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                    <p>El resultado de tus ingresos menos los gastos en {{month}}</p>


                                </div>

                            </div>
                            <!-- ./difference-->

                            <!-- taxes-->
                            <div class="col-md-3" ng-show="!isRifUser()">

                                <div class="dev-widget dev-widget-transparent dev-widget-danger">
                                    <h2>Impuestos Por Pagar</h2>
                                    <div class="dev-stat">$<span class="counter">45</span></div>
                                    <div class="progress progress-bar-xs" ng-if="false">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100"
                                             aria-valuemin="0" aria-valuemax="100" style="width: 79%;"></div>
                                    </div>
                                    <div class="progress progress-bar-xs">
                                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                    </div>
                                    <p>Lo que debes pagar en impuestos deacuerdo a tus datos</p>

                                </div>

                            </div>
                            <!-- ./taxes-->

                        </div>
                    </div>
                </div>
            <!-- ./earnings/outgoings -->

            <!-- earnings/outgoings -->
            <div class="col-md-12" ng-show="isRifUser()">
                <div class="wrapper padding-bottom-0 padding-top-0">
                    <div class="dev-table">

                        <!-- Earnings -->
                        <div class="col-md-3">

                            <div class="dev-widget dev-widget-success">
                                <h2>Tus Ingresos Febrero</h2>

                                <div class="dev-stat">$<span class="counter">{{incomesByMonth02 | number : 2}}</span></div>
                                <div class="progress progress-bar-xs" ng-if="false">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
                                </div>
                                <div class="progress progress-bar-xs">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                                <p>El total de tus ingresos deacuerdo al mes de {{nextMonth}}</p>
                                <a href="/#!/income" class="dev-drop">Ir a tus ingresos<span class="fa fa-angle-right pull-right"></span></a>

                            </div>

                        </div>
                        <!-- /.Earnings-->

                        <!-- outgoings-->
                        <div class="col-md-3">

                            <div class="dev-widget dev-widget-transparent dev-widget-danger">
                                <h2>Tus Gastos</h2>
                                <div class="dev-stat">$<span class="counter">{{outcomesByMonth02 | number : 2}}</span></div>
                                <div class="progress progress-bar-xs" ng-if="false">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 79%;"></div>
                                </div>
                                <div class="progress progress-bar-xs">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                                <p>Tus gastos realizados en el mes de {{nextMonth}}</p>
                                <a href="/#!/outgoings" class="dev-drop">Ir a tus ingresos<span class="fa fa-angle-right pull-right"></span></a>
                            </div>

                        </div>
                        <!-- ./outgoings-->

                        <!-- difference-->
                        <div class="col-md-3">

                            <div class="dev-widget dev-widget-transparent dev-widget-success">
                                <h2>Diferencia</h2>
                                <div class="dev-stat">$<span class="counter">{{incomesByMonth02 - outcomesByMonth02 | number : 2}}</span></div>
                                <div class="progress progress-bar-xs" ng-if="false">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                </div>
                                <div class="progress progress-bar-xs">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                                <p>El resultado de tus ingresos menos los gastos en {{nextMonth}}</p>


                            </div>

                        </div>
                        <!-- ./difference-->

                        <!-- taxes-->
                        <div class="col-md-3">

                            <div class="dev-widget dev-widget-transparent dev-widget-danger">
                                <h2>Impuestos por pagar al bimestre</h2>
                                <div class="dev-stat">$<span class="counter">{{totalToPay | number : 2}}</span></div>
                                <div class="progress progress-bar-xs" ng-if="false">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100"
                                         aria-valuemin="0" aria-valuemax="100" style="width: 79%;"></div>
                                </div>
                                <div class="progress progress-bar-xs">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                                <p>Lo que debes pagar en impuestos deacuerdo a tus datos</p>

                            </div>

                        </div>
                        <!-- ./taxes-->

                    </div>
                </div>
            </div>
            <!-- ./earnings/outgoings -->





            <!-- charts -->
            <canvas id="line-chart" width="800" height="300"></canvas>
            <!-- ./charts -->


            <!-- table -->
            <div class="wrapper">
                <div class="col-md-12">

                    <h1 style="margin-top:30px">Totales</h1>
                    <table class="table table-bordered table-striped table-sortable dataTable no-footer">
                        <thead>
                        <tr role="row">
                            <th>Mes</th>
                            <th>Ingresos</th>
                            <th>Gastos</th>
                        </tr>
                        </thead>
                        <tbody>
                                <tr ng-repeat="emitted in billsData.emitted.bills">
                                    <td>{{emitted.month}}</td>
                                    <td>{{emitted.total.emitted | number : 2}}</td>
                                    <td>{{emitted.total.received | number : 2 }}</td>
                                </tr>

                                <tr>
                                    <td>TOTAL</td>
                                    <td>{{billsData.emitted.yearTotal | number : 2}}</td>
                                    <td>{{billsData.received.yearTotal | number : 2 }}</td>
                                </tr>
                        </tbody>

                    </table>

                </div>
            </div>
            <!-- ./table -->


            <script>/*
            var mainController = angular.element(document.querySelector('[ng-controller="mainController"]')).scope();

            new Chart(document.getElementById("line-chart"), {
              type: 'line',
              data: {
                labels: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                datasets: [{
                    data: mainController.incomes,
                    label: "Ingresos",
                    borderColor: "#82b440",
                    fill: false
                  }, {
                    data: mainController.outcomes,
                    label: "Gastos",
                    borderColor: "#e74e40",
                    fill: false
                  }
                ]
              },
              options: {
                title: {
                  display: false,
                  text: 'Tabla de Ingresos y Gastos'
                }
              }
            });*/
            </script>

        </div>

    </div>

</div>