<!DOCTYPE html>
<html lang="en" ng-app="app" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>        
        <!-- meta section -->
        <title>Demo SAT</title>


        
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
        <meta http-equiv="X-UA-Compatible" content="IE=edge" >
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" >
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" >
        <!-- /meta section -->        
        
        <!-- css styles -->
        <link rel="stylesheet" type="text/css" href="css/default-blue-white.css" id="dev-css">
        <!-- ./css styles -->                               
                
        <!--[if lte IE 9]>
        <link rel="stylesheet" type="text/css" href="css/dev-other/dev-ie-fix.css">
        <![endif]-->
        
        <!-- javascripts -->
        <script type="text/javascript" src="js/plugins/modernizr/modernizr.js"></script>
        <!-- ./javascripts -->
        
        <style>.dev-page{visibility: hidden;}</style>
    </head>
    <body ng-controller="mainController">
                
        <!-- page wrapper -->
        <div class="dev-page dev-page-login dev-page-login-v2">
                      
            <div class="dev-page-login-block">
                <!--a class="dev-page-login-block__logo">Intuitive</a-->
                <div class="dev-page-login-block__form">
                    <div class="title"><strong>Bienvenido</strong>, Ingresa tus datos </div>
                    <p th:text="${message}">Welcome to our grocery store!</p>
                    <form action="/login" method="post">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="RFC" name="rfc">
                            </div>
                        </div>                        
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Contraseña" name="pass">
                            </div>
                        </div>



                        <div class="form-group no-border margin-top-20">
                            <button class="btn btn-success btn-block">Entrar</button>
                        </div>
                        <p><a href="#">Olvidaste tu contraseña?</a></p>
                    </form>
                </div>
                <div class="dev-page-login-block__footer">
                    © 2017 <strong>Erick Dom</strong>, Derechos reservados
                </div>
            </div>
            
        </div>
        <!-- ./page wrapper -->                
        
        <!-- javascript -->
        <script type="text/javascript" src="js/plugins/jquery/jquery.min.js"></script>       
        <script type="text/javascript" src="js/plugins/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="js/plugins/angular/angular.min.js"></script>
        <script>

            var app = angular.module("app",[]);

            app.controller("mainController",function($scope){
/*
                 $scope.captcha = "/img/captcha.jpg";

                setInterval(function(){
                    $scope.captcha = "/img/captcha.jpg?cache=" + new Date().getTime();
                }, 5000);
*/


            });

        </script>

        <!-- ./javascript -->
    </body>

</html>










