<div class="wrapper wrapper-white">
    <div class="page-subtitle">
        <h3>{{title}}</h3>
        <p>Ingresa los datos como se pide a continuacion para realizar el calculo de impuestos</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-3 control-label" style="margin-right:10px;">Ingresos</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" ng-model="incomes" ng-change="calculteFees()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" style="margin-right:10px;">Gastos</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control"  ng-model="outcomes" ng-change="calculteFees()">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" style="margin-right:10px;">Utilidad antes de impuestos</label>
                    <div class="col-md-8">
                        <input type="number" class="form-control" placeholder="Utilidad sin impuestos" ng-model="incomesBeforeFees">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
            <div class="col-md-12">

                <div class="dev-widget dev-widget-success">
                    <h2>Pagarias la cantidad de:</h2>

                    <div class="dev-stat"><span class="counter">{{fees | currency }}</span></div>
                    <!-- ngIf: false -->
                    <p>*Este es un total aproximado</p>

                </div>

            </div>
        </div>
    </div>
</div>