

<!-- datatables plugin -->
<div class="wrapper wrapper-white">

    <h1>{{title}}</h1>


    <div class="table-responsive" style="margin-top:20px">





        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper no-footer">

            <!-- DateTime -->
            <div class="row well" style="padding-bottom: 0px; margin: 0px;">

                <div class="row" style="margin-top: 20px; margin-left: 20px;">

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Selecciona <span>Año</span></label>
                            <select class="form-control" ng-model="yearIndex">
                                <option value='' disabled>SELECCION DE AñO</option>
                                <option value="2019" selected>2019</option>
                                <option value="2018">2018</option>
                            </select>
                            <span class="help-block">Seleccion de año</span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Selecciona <span>Mes</span></label>
                            <select class="form-control" name="repeatSelect" id="repeatSelect" ng-model="monthIndex">
                                <option value='' disabled>SELECCION DE MES</option>
                                <option ng-repeat="month in months" value="{{month.value}}">{{month.name}}</option>
                            </select>
                            <span class="help-block">Seleccion de bimestre</span>
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="form-group" style="padding-top: 30px;">
                            <button class="btn btn-primary" ng-click="filterBillsByDate(false)"> Filtrar </button>
                            <span class="help-block">Haz click para filtrar</span>
                        </div>
                    </div>


                </div>

            </div>
            <!-- ./DateTime -->


            <!--tables-->
            <div class="row" style="margin-top:60px">





                <!-- bills table -->
                <div class="col-md-7" style="margin-right:10px;margin-left:10px">



                    <h1 style="margin-top:30px">Gastos de Febrero</h1>


                                <table class="table table-bordered table-striped table-sortable dataTable no-footer"
                                       style="margin-top: 0px;">
                                    <thead>
                                    <tr role="row">
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            aria-label="Name: activate to sort column ascending" style="width: 231.011px;"
                                            ng-if="false">Folio Fiscal
                                        </th>
                                        <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 20%" aria-sort="ascending">RFC
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 183.011px;">Nombre
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 89.0114px;">Fecha
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            style="width: 188.011px;">Total
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1"
                                            ng-if="false">Servicios
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr role="row" class="odd" ng-repeat="bill in bills | filter : search | limitTo:15" ng-show="!bill.emited"
                                        ng-if="$index > 0" load-finished>
                                        <td ng-if="false">{{bill.fiscalId}}</td>
                                        <td>{{bill.receiverRFC}}</td>
                                        <td>{{bill.receiverName}}</td>
                                        <td>{{bill.emitedDate}}</td>
                                        <td>{{bill.total}}</td>
                                        <td ng-if="false">
                                            <button class="btn btn-success" ng-click="downloadPDF()">Descargar PDF</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <!-- pagination -->
                                <div class="col-md-6">
                                    <ul class="pagination">
                                        <li class="disabled">
                                            <a href="#">«</a>
                                        </li>
                                        <li class="active">
                                            <a href="#">1</a>
                                        </li>
                                        <li>
                                            <a href="#">2</a>
                                        </li>
                                        <li>
                                            <a href="#">3</a>
                                        </li>
                                        <li>
                                            <a href="#">4</a>
                                        </li>
                                        <li>
                                            <a href="#">5</a>
                                        </li>
                                        <li>
                                            <a href="#">»</a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- ./pagination -->


                </div>
                <!-- ./bills table -->


                <!-- total table -->
                <div class="col-md-4">
                    <h1 style="margin-top:30px">Total de Gastos</h1>
                    <table class="table table-bordered table-striped table-sortable dataTable no-footer">
                        <thead>
                        <tr role="row">
                            <th>Nombre</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr role="row" class="odd" ng-repeat="(key, value) in bills | groupBy: 'receiverName'" ng-if="$index > 0">
                            <td>{{ key }}</td>
                            <td>{{ getTotal(value) | currency}}</td>
                        </tr>
                        <tr>
                            <td>TOTAL</td>
                            <td>{{grandTotal | currency}}</td>
                        </tr>
                        </tbody>
                    </table>



                </div>
                <!-- ./total table -->


            </div>
            <!--./tables-->

        </div>

    </div>


</div>
<!-- ./datatables plugin -->



